<div class="hidden md:flex flex-col w-52 bg-gray-800 text-white fixed top-14 left-0 h-[calc(100vh-56px)] p-4">

  <ul class="space-y-3 text-sm">

    <li class="bg-emerald-500 p-2 rounded cursor-pointer">
      Dashboard
    </li>

    <li class="hover:bg-gray-700 p-2 rounded cursor-pointer">
      Challenges
    </li>

    <li class="hover:bg-gray-700 p-2 rounded cursor-pointer">
      Trainers
    </li>

    <li class="hover:bg-gray-700 p-2 rounded cursor-pointer">
      Calories
    </li>

    <li class="hover:bg-gray-700 p-2 rounded cursor-pointer">
      Leaderboard
    </li>

  </ul>

</div>