<div class="hidden md:flex flex-col w-52 bg-gray-800 text-white h-screen p-4 fixed top-14 left-0">

  <ul class="space-y-3 text-sm">

    <li class="bg-emerald-500 p-2 rounded cursor-pointer">
      Dashboard
    </li>

    <li class="hover:bg-gray-700 p-2 rounded cursor-pointer">
      Challenges
    </li>

    <li class="hover:bg-gray-700 p-2 rounded cursor-pointer">
      Leaderboard
    </li>

    <li class="hover:bg-gray-700 p-2 rounded cursor-pointer">
      Profile
    </li>

  </ul>

</div>